<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="#">
    <title>Log In</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/register">Register</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <h1 class="text-center mt-5">Log-in</h1>
    <br>
    <div class="container col-md-5 mx-auto">
        <% if(error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <form method="post" action="/login">
            <div class="form-group">
              <label>Username</label><br>
              <input type="text" class="form-control" name="username" placeholder="Example: Ronald">
            </div>
            <div class="form-group">
              <label>Password</label><br>
              <input type="password" class="form-control" name="password" placeholder="Example: securePassword123">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

</body>
</html>