<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Register Form</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %> 
    <% if(error) {  %> 
      <br>
      <% error.split(';').forEach(el => { %> 
        <p class="text-center" style="color: red;"><%= el %></p>
      <% }) %> 
    <% } %> 
    <br>
    <h1 class="text-center">Please Register</h1>
    <br>
    <div class="container">
        <form method="post" action="/register">
            <div class="form-group">
              <label for="username">Username</label><br>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="email">Email</label><br>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label><br>
              <input type="text" class="form-control" name="password">
            </div>
            <div class="form-group">
              <input type="radio" name="role" value="guest" checked>
              <label for="role">Guest</label><br>
              <input type="radio" name="role" value="admin">
              <label for="role">Admin</label><br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</body>
</html>